<h2>Reactive: <small>Dinamicos</small></h2>
<hr>

<form (ngSubmit)="guardar()" [formGroup]="miFormulario">
    <!-- Nombre -->
    <div class="row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nombre de la persona" formControlName="name" name="nombre">
            <span *ngIf="campoEsValido('name')" class="form-text text-danger"> Debe de tener 3 letras. </span>

        </div>
    </div>



    <!-- Agregar -->
    <div class="row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group mb-3 ">
                <input type="text" class="form-control" [formControl]="nuevoFavorito" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" (keyup.enter)="agregarFavorito()" name="favoritos">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="agregarFavorito()">Agregar</button>

            </div>
        </div>
    </div>


    <div class="row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
    </div>
    <div class="row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group mb-3" *ngFor="let favorito of favoritosArray.controls; let i = index">
                <input type=" text " class="form-control " [formControlName]="i" aria-label="Recipient 's username" aria-describedby="button-addon2">
                <button class="btn btn-danger float-end" (click)="borrar(i)" type="button">Borrar</button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 p-4">
            <button class="btn btn-primary float-end" type="submit">Guardar</button>

        </div>
        <div class="col-sm-12 p-4">
            <span>Value</span>
            <pre>{{miFormulario.value | json}}</pre>
            <br>
            <span>Precio</span>
            <pre>{{miFormulario.controls['name'].errors | json}}</pre>
            <!-- <pre>{{persona | json}}</pre> -->
        </div>


    </div>

</form>