<h2>Reactive: <small>Dinamicos</small></h2>
<hr>

<form>
    <!-- Nombre -->
    <div class="row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nombre de la persona" name="nombre">
            <span class="form-text text-danger">Este campo es obligatorio.</span>
        </div>
    </div>



    <!-- Agregar -->
    <div class="row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group mb-3 ">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" name="favoritos" ngModel>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Agregar</button>

            </div>
        </div>
    </div>


    <div class="row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
    </div>
    <div class="row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="form" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-danger float-end" type="button">Borrar</button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 p-4">
            <button class="btn btn-primary float-end" type="submit">Guardar</button>

        </div>
        <div class="col-sm-12 p-4">
            <!-- <pre>{{persona | json}}</pre> -->
        </div>


    </div>

</form>